header{
    background-color:rgb(49, 91, 102);
    display: flex;
    justify-content: space-around;
    align-items: center;
}

body{
    margin: 0;
    font-family: 'Cormorant Unicase', serif;
}
nav a{
    color: rgba(245, 222, 179, 0.863);
    font-size: 25px;
    margin: 25px;
    text-decoration: none;
}
button{
padding: 5px 20px;
border-radius: 25px;
color: rgb(65, 105, 156);
border: none;
font-size: 20px;
font-family: 'Cormorant Unicase', serif;
font-weight: bold;
cursor: pointer;
transition: .7s;
}
button:hover{
background-color:rgba(245, 222, 179, 0.863);
transform: scale(1.1);
}
div{
    text-align: center;
    padding: 230px;
    background-image: linear-gradient(to top, rgba(255, 255, 255, 0.178),rgba(23, 54, 53, 0.459)) , url(city.jpg);
    background-size: cover;
}
h1{
    color:wheat;
    font-family: 'Cormorant Unicase', serif;
    font-weight: bold;

}
p{
    color: wheat;
}
footer{
    background-color:rgb(49, 91, 102);
}
footer p{
    margin: 0;
    padding: 70px;
}
button a{
    text-decoration: none;
    color:rgb(49, 91, 102) ;
}
@media(max-width: 500px){
 header{
        display: block;
        text-align: center;
padding: 10px 0;
 }
nav{
    margin: 24px 0;
}
nav a{font-size: 16px;
   display: center;
   margin: 10px;
}
h1{
    font-size: 29 px;

}
div{ padding: 90px 20px;}
footer p{
    margin: 0;

    padding: 71px 20px}
nav{ margin: 20px;
}

}
